<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<% if @student.blank? %>
  <h3>There are no students in the table</h3>
<% else %>
  
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
      <% @student.each do |student| %>
        <tr>
          <td><%= student.first_name%></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <%= link_to 'Edit' , edit_student_path(student) %> | 
            <%= link_to 'Show' , student_path(student) %> |
            <%= link_to 'Destroy' , student_path(student), method: :delete %>
          </td>
        </tr>
      <% end %>
    </table>
<% end %>

<%= link_to "NEW STUDENT", new_student_url %>
